.item {
    display: flex;
    flex-direction: column;
    padding: 8px;
    border: 0.1px whitesmoke solid;
}

img.item_image {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: contain;
    position: relative;
}

img.logo {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 30%;
}
nav.navbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
}

.item_price {
    font-weight: bold;
    /* color: red; */
}

div#app {
    position: absolute;
    top: 60px;
}
#content {
    margin-left: 30px;
    margin-right: 30px;
}

body{
    min-height: 100vh;
    min-width: 100vw;
}